<header class="clearfix">
	<div id="invoiceNo">
		<h2 class="name">Factura electr&oacutenica No. <b>{0}</b></h2><!-- Numero factura  -->	

		<div id="logo">
			<img src="{1}"> <!-- Logo -->
		</div>

	</div>
	
	<div id="invoiceInfo">
		<h2 class="name">Fecha: {2}</h2> <!-- Fecha factura -->
		<h2 class="name">Hora: {3}</h2> <!--Hora factura -->
	</div>
	
	<div id="companyHeader">
		<h2 class="name">{4}</h2><!--Emisor Name  -->
		<div>{5}</div><!--Emisor cedula  -->   
		<div>{6}</div><!--Emisor Address  -->   
		<div>{7}</div><!--Emisor Phone  -->             
		<div><a href="mailto:{8}">{8}</a></div> <!--Emisor email -->
	</div>

</header>