<appSettings>
  
  <!-- Api Url Authentication
      Sandbox : https://idp.comprobanteselectronicos.go.cr/auth/realms/rut-stag/protocol/openid-connect/token
      Production : https://idp.comprobanteselectronicos.go.cr/auth/realms/rut/protocol/openid-connect/token
  -->
  <add key="tokenEndpoint" value="https://idp.comprobanteselectronicos.go.cr/auth/realms/rut-stag/protocol/openid-connect/token"/>

  
  <!-- Api Url Hacienda 
      Sandbox : https://api.comprobanteselectronicos.go.cr/recepcion-sandbox/v1/
      Production : https://api.comprobanteselectronicos.go.cr/recepcion/v1/
  -->
  <add key="mhEndpoint" value="https://api.comprobanteselectronicos.go.cr/recepcion-sandbox/v1/" />
  
  <!-- Actions -->
  <add key="mhActionRecepcion" value="recepcion/"/>
  <add key="mhActionComprobantes" value="comprobantes/"/>


  <add key="SignIdentifier" value="https://tribunet.hacienda.go.cr/docs/esquemas/2016/v4.1/Resolucion_Comprobantes_Electronicos_DGT-R-48-2016.pdf"/>
  <add key="CallBackUrl" value="/api/Documents/DocumentCallBack"/>


  <add key="userATV" value="cpj-3-101-567264@stag.comprobanteselectronicos.go.cr"/>
  <add key="passwordATV" value="?}>i&amp;;*1ETn:@u%J_DHn"/>
  <!-- ?}>i&;*1ETn:@u%J_DHn -->


  <add key="user" value="205500381"/>
  <add key="password" value="Centaur002!"/>
  <add key="certificatePIN" value="1980"/>

  <add key="identityProviderUrl" value="https://idp.comprobanteselectronicos.go.cr/auth" />



  <add key="miliseconds" value="1000"/>
  <add key="tokenExpiration" value="300"/>
  
  
  
  

  <add key="serverDomain" value="http://ec2-35-165-1-74.us-west-2.compute.amazonaws.com"/>

  <add key="signTemplate" value="\Template\SignTemplate.xml"/>
  <add key="InvoiceTemplate" value="\Template\InvoiceTemplate\InvoiceTemplate.html"/>
  <add key="InvoiceTemplateCss" value="\Template\InvoiceTemplate\style.css"/>
  

  <add key="sampleXSD" value="\XSD\sample.xsd"/>
  <add key="aceptaRechazaXSD" value="\XSD\Acepta_Rechaza_DocumentoXML.xsd"/>
  <add key="facturaElectronicaXSD" value="\XSD\FacturaElectronicaXML.xsd"/>
  <add key="resumentPeriodoComprasXSD" value="\XSD\ResumenPeriodoCompras.xsd"/>
  <add key="resumentPeriodoCompraVentasXSD" value="\XSD\ResumenPeriodoComprasVentas.xsd"/>
  <add key="resumenPeriodoVentasXSD" value="\XSD\ResumenPeriodoVentas.xsd"/>
  
</appSettings>