<appSettings>
  <add key="mhEndpoint" value="https://api/comprobanteselectronicos.go.cr/recepcion-sandbox/v1/" />
  <add key="tokenEndpoint" value="https://idp.comprobanteselectronicos.go.cr/auth/realms/rut-stag/protocol/openid-connect/tocken"/>
  <add key="user" value="cpj-3-101-567264@stag.comprobanteselectronicos.go.cr"/>
  <add key="password" value="?}>i&amp;;*1ETn:@u%J_DHn"/><!-- ?}>i&;*1ETn:@u%J_DHn -->



  <add key="identityProviderUrl" value="https://idp.comprobanteselectronicos.go.cr/auth" />
  <add key="a" value="https://api.comprobanteselectronicos.go.cr/recepcion/v1/"/>
  
</appSettings>